<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Customer</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<section>
    <!-- create navigation bar ( header) -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:href="@{/}">The Kenyan
                    Bank App</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                    <li><span style="color: white" sec:authentication="principal.authorities">Roles</span></li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<br>
<br>
<br>
<br>

<section>
    <div class="container text-center">
        <div>
            <form th:action="@{/logout}" method="post">
                <p>
                    Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                </p>
                <input type="submit" value="Sign Out" />
            </form>
        </div>
        <div>
            <h1>Customer Information</h1>
        </div>

        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>KRA</th>
                    <th>SSN</th>
                    <th sec:authorize="hasAnyAuthority('ADMIN')">Delete/Edit</th>
                </tr>
                </thead>
                <tbody>
                ADMIN
                </tbody>
            </table>
        </div>
    </div>
</section>
</html>